* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  background-color: #eaecf0;
}
.main .main__side-bar {
  width: 13vw;
  height: 1024px;
  background-color: #fff;
}
@media (max-width: 375px) {
  .main .main__side-bar {
    display: none;
  }
}
@media (max-width: 1330px) {
  .main .main__side-bar {
    display: none;
  }
}
.main .main__side-bar--logo {
  margin: 24px 0px 56px 20px;
}
.main .main__side-bar--dashboard, .main .main__side-bar--pages {
  margin-left: 20px;
}
@media (max-width: 375px) {
  .main .main__side-bar--dashboard, .main .main__side-bar--pages {
    display: none;
  }
}
.main .main__side-bar--dashboard .main__side-bar--dashboard-header,
.main .main__side-bar--dashboard .main__side-bar--pages-header, .main .main__side-bar--pages .main__side-bar--dashboard-header,
.main .main__side-bar--pages .main__side-bar--pages-header {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 3px;
  color: #9d9fa2;
  margin-bottom: 32px;
}
.main .main__side-bar--dashboard .main__side-bar--dashboard-section, .main .main__side-bar--pages .main__side-bar--dashboard-section {
  display: flex;
  justify-content: flex-start;
}
.main .main__side-bar--dashboard .main__side-bar--dashboard-section .arrow-up, .main .main__side-bar--pages .main__side-bar--dashboard-section .arrow-up {
  margin-left: 75px;
}
@media (max-width: 1680px) {
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section .arrow-up, .main .main__side-bar--pages .main__side-bar--dashboard-section .arrow-up {
    margin-left: 55px;
  }
}
@media (max-width: 1522px) {
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section .arrow-up, .main .main__side-bar--pages .main__side-bar--dashboard-section .arrow-up {
    margin-left: 25px;
  }
}
.main .main__side-bar--dashboard .main__side-bar--dashboard-section .main__side-bar--dashboard-section--dashboard svg, .main .main__side-bar--pages .main__side-bar--dashboard-section .main__side-bar--dashboard-section--dashboard svg {
  margin-right: 10px;
  margin-bottom: 16px;
}
.main .main__side-bar--dashboard .main__side-bar--dashboard-section .main__side-bar--dashboard-section--dashboard--title, .main .main__side-bar--pages .main__side-bar--dashboard-section .main__side-bar--dashboard-section--dashboard--title {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #282828;
}
.main .main__side-bar--dashboard .main__side-bar--dashboard-section--analytics, .main .main__side-bar--pages .main__side-bar--dashboard-section--analytics {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #282828;
  margin-left: 30px;
  margin-bottom: 12px;
}
.main .main__side-bar--dashboard .main__side-bar--dashboard-section--finance,
.main .main__side-bar--dashboard .main__side-bar--dashboard-section--job-board, .main .main__side-bar--pages .main__side-bar--dashboard-section--finance,
.main .main__side-bar--pages .main__side-bar--dashboard-section--job-board {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #5f6980;
  margin-bottom: 12px;
  margin-left: 30px;
}
.main .main__side-bar--dashboard .main__side-bar--dashboard-section--apps, .main .main__side-bar--pages .main__side-bar--dashboard-section--apps {
  margin-bottom: 44px;
}
.main .main__side-bar--dashboard .main__side-bar--dashboard-section--messages,
.main .main__side-bar--dashboard .main__side-bar--dashboard-section--friends,
.main .main__side-bar--dashboard .main__side-bar--dashboard-section--apps,
.main .main__side-bar--dashboard .main__side-bar--pages-section--helpcenter,
.main .main__side-bar--dashboard .main__side-bar--dashboard-section--filemanager, .main .main__side-bar--pages .main__side-bar--dashboard-section--messages,
.main .main__side-bar--pages .main__side-bar--dashboard-section--friends,
.main .main__side-bar--pages .main__side-bar--dashboard-section--apps,
.main .main__side-bar--pages .main__side-bar--pages-section--helpcenter,
.main .main__side-bar--pages .main__side-bar--dashboard-section--filemanager {
  display: flex;
  align-items: center;
}
@media (max-width: 1920px) {
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--messages .message-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--friends .message-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--apps .message-arrow,
  .main .main__side-bar--dashboard .main__side-bar--pages-section--helpcenter .message-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--filemanager .message-arrow, .main .main__side-bar--pages .main__side-bar--dashboard-section--messages .message-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--friends .message-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--apps .message-arrow,
  .main .main__side-bar--pages .main__side-bar--pages-section--helpcenter .message-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--filemanager .message-arrow {
    margin-left: 65px;
  }
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--messages .friends-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--friends .friends-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--apps .friends-arrow,
  .main .main__side-bar--dashboard .main__side-bar--pages-section--helpcenter .friends-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--filemanager .friends-arrow, .main .main__side-bar--pages .main__side-bar--dashboard-section--messages .friends-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--friends .friends-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--apps .friends-arrow,
  .main .main__side-bar--pages .main__side-bar--pages-section--helpcenter .friends-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--filemanager .friends-arrow {
    margin-left: 83px;
  }
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--messages .apps-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--friends .apps-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--apps .apps-arrow,
  .main .main__side-bar--dashboard .main__side-bar--pages-section--helpcenter .apps-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--filemanager .apps-arrow, .main .main__side-bar--pages .main__side-bar--dashboard-section--messages .apps-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--friends .apps-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--apps .apps-arrow,
  .main .main__side-bar--pages .main__side-bar--pages-section--helpcenter .apps-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--filemanager .apps-arrow {
    margin-left: 102px;
  }
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--messages .helpcenter-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--friends .helpcenter-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--apps .helpcenter-arrow,
  .main .main__side-bar--dashboard .main__side-bar--pages-section--helpcenter .helpcenter-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--filemanager .helpcenter-arrow, .main .main__side-bar--pages .main__side-bar--dashboard-section--messages .helpcenter-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--friends .helpcenter-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--apps .helpcenter-arrow,
  .main .main__side-bar--pages .main__side-bar--pages-section--helpcenter .helpcenter-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--filemanager .helpcenter-arrow {
    margin-left: 53px;
  }
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--messages .filemanager-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--friends .filemanager-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--apps .filemanager-arrow,
  .main .main__side-bar--dashboard .main__side-bar--pages-section--helpcenter .filemanager-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--filemanager .filemanager-arrow, .main .main__side-bar--pages .main__side-bar--dashboard-section--messages .filemanager-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--friends .filemanager-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--apps .filemanager-arrow,
  .main .main__side-bar--pages .main__side-bar--pages-section--helpcenter .filemanager-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--filemanager .filemanager-arrow {
    margin-left: 46px;
  }
}
@media (max-width: 1680px) {
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--messages .message-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--friends .message-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--apps .message-arrow,
  .main .main__side-bar--dashboard .main__side-bar--pages-section--helpcenter .message-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--filemanager .message-arrow, .main .main__side-bar--pages .main__side-bar--dashboard-section--messages .message-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--friends .message-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--apps .message-arrow,
  .main .main__side-bar--pages .main__side-bar--pages-section--helpcenter .message-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--filemanager .message-arrow {
    margin-left: 45px;
  }
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--messages .friends-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--friends .friends-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--apps .friends-arrow,
  .main .main__side-bar--dashboard .main__side-bar--pages-section--helpcenter .friends-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--filemanager .friends-arrow, .main .main__side-bar--pages .main__side-bar--dashboard-section--messages .friends-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--friends .friends-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--apps .friends-arrow,
  .main .main__side-bar--pages .main__side-bar--pages-section--helpcenter .friends-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--filemanager .friends-arrow {
    margin-left: 63px;
  }
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--messages .apps-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--friends .apps-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--apps .apps-arrow,
  .main .main__side-bar--dashboard .main__side-bar--pages-section--helpcenter .apps-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--filemanager .apps-arrow, .main .main__side-bar--pages .main__side-bar--dashboard-section--messages .apps-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--friends .apps-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--apps .apps-arrow,
  .main .main__side-bar--pages .main__side-bar--pages-section--helpcenter .apps-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--filemanager .apps-arrow {
    margin-left: 82px;
  }
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--messages .helpcenter-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--friends .helpcenter-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--apps .helpcenter-arrow,
  .main .main__side-bar--dashboard .main__side-bar--pages-section--helpcenter .helpcenter-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--filemanager .helpcenter-arrow, .main .main__side-bar--pages .main__side-bar--dashboard-section--messages .helpcenter-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--friends .helpcenter-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--apps .helpcenter-arrow,
  .main .main__side-bar--pages .main__side-bar--pages-section--helpcenter .helpcenter-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--filemanager .helpcenter-arrow {
    margin-left: 33px;
  }
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--messages .filemanager-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--friends .filemanager-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--apps .filemanager-arrow,
  .main .main__side-bar--dashboard .main__side-bar--pages-section--helpcenter .filemanager-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--filemanager .filemanager-arrow, .main .main__side-bar--pages .main__side-bar--dashboard-section--messages .filemanager-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--friends .filemanager-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--apps .filemanager-arrow,
  .main .main__side-bar--pages .main__side-bar--pages-section--helpcenter .filemanager-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--filemanager .filemanager-arrow {
    margin-left: 26px;
  }
}
@media (max-width: 1522px) {
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--messages .message-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--friends .message-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--apps .message-arrow,
  .main .main__side-bar--dashboard .main__side-bar--pages-section--helpcenter .message-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--filemanager .message-arrow, .main .main__side-bar--pages .main__side-bar--dashboard-section--messages .message-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--friends .message-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--apps .message-arrow,
  .main .main__side-bar--pages .main__side-bar--pages-section--helpcenter .message-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--filemanager .message-arrow {
    margin-left: 12px;
  }
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--messages .friends-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--friends .friends-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--apps .friends-arrow,
  .main .main__side-bar--dashboard .main__side-bar--pages-section--helpcenter .friends-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--filemanager .friends-arrow, .main .main__side-bar--pages .main__side-bar--dashboard-section--messages .friends-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--friends .friends-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--apps .friends-arrow,
  .main .main__side-bar--pages .main__side-bar--pages-section--helpcenter .friends-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--filemanager .friends-arrow {
    margin-left: 30px;
  }
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--messages .apps-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--friends .apps-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--apps .apps-arrow,
  .main .main__side-bar--dashboard .main__side-bar--pages-section--helpcenter .apps-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--filemanager .apps-arrow, .main .main__side-bar--pages .main__side-bar--dashboard-section--messages .apps-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--friends .apps-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--apps .apps-arrow,
  .main .main__side-bar--pages .main__side-bar--pages-section--helpcenter .apps-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--filemanager .apps-arrow {
    margin-left: 49px;
  }
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--messages .helpcenter-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--friends .helpcenter-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--apps .helpcenter-arrow,
  .main .main__side-bar--dashboard .main__side-bar--pages-section--helpcenter .helpcenter-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--filemanager .helpcenter-arrow, .main .main__side-bar--pages .main__side-bar--dashboard-section--messages .helpcenter-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--friends .helpcenter-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--apps .helpcenter-arrow,
  .main .main__side-bar--pages .main__side-bar--pages-section--helpcenter .helpcenter-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--filemanager .helpcenter-arrow {
    margin-left: 0px;
  }
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--messages .filemanager-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--friends .filemanager-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--apps .filemanager-arrow,
  .main .main__side-bar--dashboard .main__side-bar--pages-section--helpcenter .filemanager-arrow,
  .main .main__side-bar--dashboard .main__side-bar--dashboard-section--filemanager .filemanager-arrow, .main .main__side-bar--pages .main__side-bar--dashboard-section--messages .filemanager-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--friends .filemanager-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--apps .filemanager-arrow,
  .main .main__side-bar--pages .main__side-bar--pages-section--helpcenter .filemanager-arrow,
  .main .main__side-bar--pages .main__side-bar--dashboard-section--filemanager .filemanager-arrow {
    margin-left: -6px;
  }
}
.main .main__side-bar--dashboard .main__side-bar--dashboard-section--messages h2,
.main .main__side-bar--dashboard .main__side-bar--dashboard-section--friends h2,
.main .main__side-bar--dashboard .main__side-bar--dashboard-section--apps h2,
.main .main__side-bar--dashboard .main__side-bar--pages-section--helpcenter h2,
.main .main__side-bar--dashboard .main__side-bar--dashboard-section--filemanager h2, .main .main__side-bar--pages .main__side-bar--dashboard-section--messages h2,
.main .main__side-bar--pages .main__side-bar--dashboard-section--friends h2,
.main .main__side-bar--pages .main__side-bar--dashboard-section--apps h2,
.main .main__side-bar--pages .main__side-bar--pages-section--helpcenter h2,
.main .main__side-bar--pages .main__side-bar--dashboard-section--filemanager h2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #5f6980;
  padding: 12px;
}
.main .main__side-bar .main__side-bar--footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 350px;
  border-top: 1px solid #f2f4f7;
  padding: 14px;
}
@media (max-width: 375px) {
  .main .main__side-bar .main__side-bar--footer {
    display: none;
  }
}
.main .main__content {
  width: 100vw;
}
@media (max-width: 375px) {
  .main .main__content {
    width: 375px;
    background-color: #fff;
  }
}
@media (max-width: 1330px) {
  .main .main__content {
    background-color: #fff;
  }
}
.main .main__content .navigation {
  height: 66px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 32px;
  background-color: #fff;
}
.main .main__content .navigation #appear {
  display: none;
}
@media (max-width: 375px) {
  .main .main__content .navigation {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    margin: 26px 16px 75px 16px;
  }
  .main .main__content .navigation svg {
    display: none;
  }
  .main .main__content .navigation #appear {
    display: inline-block;
    order: 1;
  }
  .main .main__content .navigation #navigation-img {
    order: 2;
  }
}
@media (max-width: 1330px) {
  .main .main__content .navigation {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    margin: 26px 16px 75px 16px;
  }
  .main .main__content .navigation #appear {
    display: inline-block;
  }
}
@media (max-width: 910px) {
  .main .main__content .navigation {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 26px 16px 75px 16px;
  }
}
@media (max-width: 650px) {
  .main .main__content .navigation svg {
    display: none;
  }
}
.main .main__content .navigation .navigation__search {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;
  gap: 8px;
  color: #9d9fa2;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  width: 905px;
  height: 46px;
  background: #fff;
  border: 1px solid #eaecf0;
  border-radius: 6px;
}
@media (max-width: 375px) {
  .main .main__content .navigation .navigation__search {
    order: 3;
  }
}
@media (max-width: 650px) {
  .main .main__content .navigation .navigation__search {
    order: 3;
  }
}
@media (max-width: 1330px) {
  .main .main__content .navigation .navigation__search {
    background-color: #fff;
    width: 500px;
  }
}
@media (max-width: 910px) {
  .main .main__content .navigation .navigation__search {
    width: 250px;
  }
}
@media (max-width: 650px) {
  .main .main__content .navigation .navigation__search {
    width: 80vw;
    margin: 0 auto;
  }
}
.main .main__content .main__content__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .main__content .main__content__body .main__content__body__premium-card {
  width: 1144px;
  height: 128px;
  margin-bottom: 32px;
  background: #282828;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px;
  color: #fff;
}
@media (max-width: 375px) {
  .main .main__content .main__content__body .main__content__body__premium-card {
    width: 343px;
    height: 196px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 1330px) {
  .main .main__content .main__content__body .main__content__body__premium-card {
    width: 890px;
  }
}
@media (max-width: 910px) {
  .main .main__content .main__content__body .main__content__body__premium-card {
    width: 550px;
  }
}
@media (max-width: 650px) {
  .main .main__content .main__content__body .main__content__body__premium-card {
    width: 360px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
.main .main__content .main__content__body .main__content__body__premium-card .main__content__body__premium-card--text .main__content__body__premium-card--text--headline {
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.6px;
  margin-bottom: 8px;
}
@media (max-width: 650px) {
  .main .main__content .main__content__body .main__content__body__premium-card .main__content__body__premium-card--text .main__content__body__premium-card--text--headline {
    font-size: 26px;
    line-height: 38px;
  }
}
.main .main__content .main__content__body .main__content__body__premium-card .main__content__body__premium-card--text .main__content__body__premium-card--text--description {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
@media (max-width: 650px) {
  .main .main__content .main__content__body .main__content__body__premium-card .main__content__body__premium-card--text .main__content__body__premium-card--text--description {
    margin-bottom: 30px;
  }
}
.main .main__content .main__content__body .main__content__body__premium-card .main__content__body__premium-card--button {
  background-color: #fff;
  width: 143px;
  height: 46px;
  border-radius: 39px;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 24px;
  gap: 4px;
}
.main .main__content .main__content__body .main__content__body__info-boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;
}
@media (max-width: 375px) {
  .main .main__content .main__content__body .main__content__body__info-boxes {
    flex-direction: column;
  }
}
@media (max-width: 1330px) {
  .main .main__content .main__content__body .main__content__body__info-boxes {
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
    margin-left: 30px;
  }
}
@media (max-width: 1330px) {
  .main .main__content .main__content__body .main__content__body__info-boxes {
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
    margin-left: 30px;
  }
}
@media (max-width: 650px) {
  .main .main__content .main__content__body .main__content__body__info-boxes {
    justify-content: center;
    align-items: center;
  }
}
.main .main__content .main__content__body .main__content__body__info-boxes .main__content__body__info-boxes--box {
  width: 262px;
  height: 162px;
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.06);
}
@media (max-width: 375px) {
  .main .main__content .main__content__body .main__content__body__info-boxes .main__content__body__info-boxes--box .main__content__body__info-boxes--box {
    width: 343px;
    height: 132px;
  }
  .main .main__content .main__content__body .main__content__body__info-boxes .main__content__body__info-boxes--box .main__content__body__info-boxes--box h3 {
    font-size: 14px;
    line-height: 22px;
  }
  .main .main__content .main__content__body .main__content__body__info-boxes .main__content__body__info-boxes--box .main__content__body__info-boxes--box h1 {
    font-size: 22px;
    line-height: 38px;
    margin-bottom: 26px;
  }
}
.main .main__content .main__content__body .main__content__body__info-boxes .main__content__body__info-boxes--box h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #5f6980;
}
.main .main__content .main__content__body .main__content__body__info-boxes .main__content__body__info-boxes--box h1 {
  font-size: 26px;
  line-height: 40px;
  color: #282828;
  margin-bottom: 32px;
}
.main .main__content .main__content__body .main__content__body__info-boxes .main__content__body__info-boxes--box .main__content__body__info-boxes--box--change {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main .main__content .main__content__body .main__content__body__info-boxes .main__content__body__info-boxes--box .main__content__body__info-boxes--box--change .main__content__body__info-boxes--change--difference {
  color: #20c997;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;
  gap: 10px;
  width: 54px;
  height: 24px;
  background-color: #dcfff5;
  border-radius: 100px;
  margin-right: 8px;
}
.main .main__content .main__content__body .main__content__body__info-boxes .main__content__body__info-boxes--box .main__content__body__info-boxes--box--change .red {
  background-color: #ffe0e3;
  color: #dc3545;
}
.main .main__content .main__content__body .main__content__body__info-boxes .main__content__body__info-boxes--box .main__content__body__info-boxes--box--change .grey {
  background-color: #f2f4f7;
  color: #9d9fa2;
}
.main .main__content .main__content__body .main__content__body__info-boxes .main__content__body__info-boxes--box .main__content__body__info-boxes--box--change .main__content__body__info-boxes--change--starting-point {
  width: 160px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  color: #9d9fa2;
}
.main .main__content .main__content__body .main__content__body__chart {
  width: 1144px;
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 32px;
}
@media (max-width: 375px) {
  .main .main__content .main__content__body .main__content__body__chart {
    width: 343px;
    height: 434px;
  }
}
@media (max-width: 1330px) {
  .main .main__content .main__content__body .main__content__body__chart {
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
  }
}
@media (max-width: 1150px) {
  .main .main__content .main__content__body .main__content__body__chart {
    width: 90vw;
    margin-right: 30px;
    margin-left: 30px;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
  }
}
.main .main__content .main__content__body .main__content__body__chart .main__content__body__chart--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eaecf0;
  margin-bottom: 32px;
}
@media (max-width: 375px) {
  .main .main__content .main__content__body .main__content__body__chart .main__content__body__chart--header {
    width: 343px;
    height: 54px;
  }
}
.main .main__content .main__content__body .main__content__body__chart .main__content__body__chart--header h1 {
  padding: 24px 0px 16px 24px;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 30px;
}
.main .main__content .main__content__body .main__content__body__chart .main__content__body__chart--header div {
  padding-right: 24px;
}
.main .main__content .main__content__body .main__content__body__chart .main__content__body__chart--content {
  padding: 24px;
  width: 1096px;
  height: 288px;
}
@media (max-width: 375px) {
  .main .main__content .main__content__body .main__content__body__chart .main__content__body__chart--content {
    width: 343px;
    height: 380px;
  }
}
@media (max-width: 1150px) {
  .main .main__content .main__content__body .main__content__body__chart .main__content__body__chart--content {
    width: 90%;
  }
}
.main .main__content .main__content__body .main__content__body__chart .main__content__body__chart--footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  padding: 24px;
}
.main .main__content .main__content__body .main__content__body__chart .main__content__body__chart--footer .main__content__body__chart--footer--elements-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 32px;
}
.main .main__content .main__content__body .main__content__body__chart .main__content__body__chart--footer .main__content__body__chart--footer--elements-container .main__content__body__chart--footer--circle--blue {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background-color: #5a9cfe;
  margin-right: 8px;
}
.main .main__content .main__content__body .main__content__body__chart .main__content__body__chart--footer .main__content__body__chart--footer--elements-container .main__content__body__chart--footer--circle--green {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background-color: #20c997;
  margin-right: 8px;
}
.main .main__content .main__content__body .main__content__body__app-list {
  width: 1144px;
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 32px;
}
@media (max-width: 375px) {
  .main .main__content .main__content__body .main__content__body__app-list {
    width: 343px;
    height: 581px;
  }
}
@media (max-width: 1150px) {
  .main .main__content .main__content__body .main__content__body__app-list {
    width: 90vw;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
  }
}
@media (max-width: 1330px) {
  .main .main__content .main__content__body .main__content__body__app-list {
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
  }
}
.main .main__content .main__content__body .main__content__body__app-list .main__content__body__app-list--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eaecf0;
}
.main .main__content .main__content__body .main__content__body__app-list .main__content__body__app-list--header h1 {
  padding: 24px 0px 16px 24px;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 30px;
}
.main .main__content .main__content__body .main__content__body__app-list .main__content__body__app-list--header div {
  padding-right: 24px;
}
@media (max-width: 375px) {
  .main .main__content .main__content__body .main__content__body__app-list .main__content__body__app-list--content {
    width: 90%;
    overflow-x: auto;
  }
}
@media (max-width: 800px) {
  .main .main__content .main__content__body .main__content__body__app-list .main__content__body__app-list--content {
    overflow-x: auto;
  }
}
.main .main__content .main__content__body .main__content__body__app-list .main__content__body__app-list--content .main__content__body__app-list--content--header .grid-container {
  height: 494px;
  width: 1144px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #5f6980;
}
@media (max-width: 1150px) {
  .main .main__content .main__content__body .main__content__body__app-list .main__content__body__app-list--content .main__content__body__app-list--content--header .grid-container {
    width: 100%;
  }
}
.main .main__content .main__content__body .main__content__body__app-list .main__content__body__app-list--content .main__content__body__app-list--content--header .grid-container .wrapper {
  background-color: #f2f4f7;
  padding: 24px;
}
.main .main__content .main__content__body .main__content__body__app-list .main__content__body__app-list--content .main__content__body__app-list--content--header .grid-container .header {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main .main__content .main__content__body .main__content__body__app-list .main__content__body__app-list--content .main__content__body__app-list--content--header .grid-container .row {
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #eaecf0;
  padding: 24px;
}
.main .main__content .main__content__body .main__content__body__app-list .main__content__body__app-list--content .main__content__body__app-list--content--header .grid-container .row .active {
  width: 57px;
  height: 24px;
  background-color: #dcfff5;
  color: #20c997;
  font-weight: 600;
  font-size: 12px;
  align-items: center;
  padding: 2px 10px;
  border-radius: 12px;
}
.main .main__content .main__content__body .main__content__body__app-list .main__content__body__app-list--content .main__content__body__app-list--content--header .grid-container .row .pending {
  width: 68px;
  height: 24px;
  background-color: #ffead8;
  align-items: center;
  padding: 2px 10px;
  border-radius: 100px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  text-align: center;
  color: #fd7e14;
}
.main .main__content .main__content__body .main__content__body__app-list .main__content__body__app-list--content .main__content__body__app-list--content--header .grid-container .row .cancelled {
  width: 79px;
  height: 24px;
  align-items: center;
  padding: 2px 10px;
  background-color: #f2f4f7;
  border-radius: 100px;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #5f6980;
}
.main .main__content .main__content__body .main__content__body__app-list .main__content__body__app-list--content .main__content__body__app-list--content--header .grid-container .brand {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #282828;
}
.main .main__content .main__content__body .main__content__body__app-list .main__content__body__app-list--footer {
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .main__content .main__content__body .main__content__body__app-list .main__content__body__app-list--footer .main__content__body__app-list--footer--page-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #282828;
  margin: 0 20px;
}

/*# sourceMappingURL=main.css.map */
