* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

main {
  font-family: "Nunito", Arial;
  font-style: normal;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 50vw;
}
.headingAndWeatherContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 44px;
}
.heading {
  color: #1d1d1d;
}

.weatherContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}
.temperatureContainer {
  font-weight: bold;
}

.locationContainer {
  color: #838383;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
}
.searchFieldWrapper {
  display: flex;
  width: 100%;
  height: 48px;
  margin-bottom: 42px;
}

.inputField,
.modalInput {
  flex: 1;
  width: 80%;
  margin-right: 72px;
  padding: 16px 21px;
  background-color: #f5f5f5;
  border: 1px solid #d2d2d2;
  border-radius: 12px;
}

.inputField:focus,
.modalInput:focus {
  outline: 1px solid #d2d2d2;
}

button {
  height: 52px;
  background-color: rgba(60, 134, 244, 0.15);
  border-radius: 12px;
  border: none;
  padding: 16px 32px;

  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  display: flex;
  align-items: center;

  color: #0053cf;
}

.modal {
  width: 30vw;
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 12px;
}
.checkboxAndDateContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.date {
  border: 2px solid #3c86f4;
  border-radius: 12px;
  text-align: center;
  padding: 2px;
}

.checkboxContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  text-align: center;
}

.checkboxContainer label {
  border-radius: 6px;
  padding: 1px 4px;
}
.checkboxContainer input {
  padding: 5px;
  display: none;
}
.health {
  background-color: #3c86f4;
  color: #0053cf;
}
.work {
  background-color: #e8d7ff;
  color: #9747ff;
}
.home {
  background-color: #e2f6e2;
  color: #639462;
}
.other {
  background-color: #ffecc7;
  color: #ea8c00;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 150px;
  margin-bottom: 35px;
}

.modalInput {
  margin-right: 0px;
  margin-bottom: 30px;
}

#cancel-btn {
  background: none;
}

/* List Item Styles */

.listContainer {
  width: 70%;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.taskCheckContainer input[type="checkbox"] {
  margin-right: 30px;
}

.taskCheckContainer {
  display: flex;
  justify-content: space-between;
}

.taskContainer {
  display: flex;
  flex-direction: column;
}

.taskName {
  font-size: 20px;
  line-height: 25px;
  color: #1d1d1d;
}

.checkedCategory {
  margin-right: 10px;
  border-radius: 6px;
}
.dateElement {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;

  color: #838383;
}
.taskDetails {
  display: flex;
  justify-content: space-between;
}

.completed {
  color: grey !important;
}
.completedCategory {
  background-color: #f5f5f5;
  color: #838383;
}

.checkMark:checked {
  accent-color: #d3d3d3;
}
